[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "~=2.10.2"
"psycopg2-binary" = "*"
"beautifulsoup4" = "*"
requests = "*"
misaka = "*"
zappa = "*"
Flask = "~=1.0"
XlsxWriter = "*"

[dev-packages]
pylint = "*"

[requires]
python_full_version = "3.7.2"
