[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "~=2.10.2"
"psycopg2" = "*"
"beautifulsoup4" = "*"
requests = "*"
misaka = "*"
zappa = "*"
Flask = "~=0.12.4"
XlsxWriter = "*"
pip = "~=9.0.3"

[dev-packages]

[requires]
python_version = "3.6"
