<div class="panel panel-default">

  <div class="panel-body">

    <div class="row">
      <div class="col-sm-3"><strong>First</strong></div>
      <div class="col-sm-9">{{ record.first_name }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Last</strong></div>
      <div class="col-sm-9">{{ record.last_name }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>AMA</strong></div>
      <div class="col-sm-9"><a href="{{url_for('verify')}}?id={{ record.id }}">{{ record.ama }}</a></div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Phone</strong></div>
      <div class="col-sm-9">{{ record.phone }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Address</strong></div>
      <div class="col-sm-9">{{ record.address }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>City</strong></div>
      <div class="col-sm-9">{{ record.city }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>State</strong></div>
      <div class="col-sm-9">{{ record.state }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Zip</strong></div>
      <div class="col-sm-9">{{ record.zip_code }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Email</strong></div>
      <div class="col-sm-9">{% if record.email %}{{ record.email }}{% endif %}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Date of Birth</strong></div>
      <div class="col-sm-9">{{ record.dob }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3"><strong>Expiration</strong></div>
      <div class="col-sm-9">{{ record.expire }}</div>
    </div>

  </div>

  <div class="panel-footer">
    <a href="{{url_for('delete')}}?id={{ record.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    <span style="display:inline-block;width:1em;" aria-hidden="true"></span>
    <a href="{{url_for('edit')}}?id={{ record.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
  </div>

</div>
