{% extends 'layout.html' %}
{% block body %}
{% include 'search.html' %}
<p>You have read-only access to the database. You can search above, or use the shortcuts below.</p>
<p><a href="/all/current/xlsx">Excel spreadsheet of current members.</a></p>
<p><a href="/all/current/email">List of e-mail addresses of current members.</a></p>
<hr>
<p><a href="/all/previous/xlsx">Excel spreadsheet of previous year members.</a></p>
<p><a href="/all/previous/email">List of e-mail addresses of previous year members.</a></p>
{% endblock %}
