{% extends 'layout.html' %}
{% block body %}
<form action="/send" method="post">
  <div class="form-inline">
    <div class="form-group">
      <label for="from-name">From Name</label>
      <input class="form-control" id="from-name" type="text" name="from-name" value="BSRCC Newsletter">
    </div>
    <div class="form-group">
      <label for="from-email">From Email</label>
      <div class="input-group">
        <input class="form-control" id="from-email" type="text" name="from-email" value="newsletter" aria-describedby="domain">
        <span class="input-group-addon" id="domain">@{{ domain }}</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input id="subject" class="form-control" type="text" name="subject" value="BSRCC {{ month }} Newsletter" autofocus>
  </div>
  <div class="form-group">
    <label for="body">Body (markdown)</label>
    <textarea id="body" class="form-control" name="body" rows="18" cols="40">{% include 'email_default_body.md' %}</textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" name="send-current">Send to Current Members...</button>
    <button class="btn btn-default" type="submit" name="send-previous">Send to Previous Year Members...</button>
    <button class="btn btn-default" type="submit" name="send-custom">Send to Custom List...</button>
  </div>
  <div class="form-group">
    <label for="custom-list">Custom Email List (json)</label>
    <textarea class="form-control" name="custom-list" id="custom-list" cols="40" rows="4">[{"first_name": "John", "last_name": "Doe", "email": "jdoe@example.com"}]</textarea>
  </div>
  <div class="panel panel-default form-inline">
    <div class="panel-heading">Test Email</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="test-first">First</label>
        <input id="test-first" class="form-control" type="text" name="test-first">
      </div>
      <div class="form-group">
        <label for="test-last">Last</label>
        <input id="test-last" class="form-control" type="text" name="test-last">
      </div>
      <div class="form-group">
        <label for="test-email">Email</label>
        <input id="test-email" class="form-control" type="text" name="test-email">
      </div>
      <button class="btn btn-default" type="submit" name="send-test" formtarget="_blank">Send Test Email</button>
    </div>
  </div>
</form>
{% endblock %}
